<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equal="Content-Type" content="text/thml; charset=UTF-8" />
    <div align="center" style="margin-top: 30px">
        <title>User</title>
    </div>
</head>

<body>
<div class="container mt-5" align="center">
    <h1>User</h1>
    <table border="1" cellpadding="5" align="center">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr th:object="${user}">
            <td th:text="${user.id}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.age}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.roles}"/>
        </tr>
    </table><br>
    <a th:href="'/logout'">Logout</a>
</div>
</body>
</html>
