<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equal="Content-Type" content="text/thml; charset=UTF-8" />
    <div align="center" style="margin-top: 30px">
        <title>Users</title>
    </div>
</head>

<body>
<div class="container mt-5" align="center">
    <h1>Users</h1>

    <table align="center" cellpadding="5">
        <tr>
            <td><a th:href="'/user'">My page</a></td>
            <td><a th:href="'/admin/adduser'">Add new user</a></td>
            <td><a th:href="'/logout'">Logout</a></td>
        </tr>
    </table><br>

    <table border="1" cellpadding="5" >
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="el : ${users}" class="alert alert-info mt-2">
            <td th:text="${el.id}"/>
            <td th:text="${el.firstName}"/>
            <td th:text="${el.lastName}"/>
            <td th:text="${el.age}"/>
            <td th:text="${el.email}"/>
            <td th:text="${el.roles}"/>
            <td><a th:href="'/admin/edit/' + ${el.id}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="'/admin/delete/' + ${el.id}" class="btn btn-warning">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>
